* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Estilos del menú de navegación lateral */
nav {
    width: 250px;
    background-color: #000;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    padding: 15px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #e0e0e0;
}

/* Estilos de la sección principal de contenido */
.container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
