
.header {
    color: black; 
    padding: 20px; 
    text-align: right; 
    margin-right: 90px; 
    }


    .container {
        max-width: 800px; 
        margin: auto; 
        padding: 20px; 
    }

    .table-box {
        padding: 20px; 
        background-color: #f9f9f9; 
        border: 2px solid #ccc; 
        border-radius: 10px; 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
        margin-top: 5px; 
    }

    table {
        width: 100%; 
        border-collapse: collapse; 
    }

    td {
        padding: 10px; 
        vertical-align: top; 
    }

    label {
        display: block; 
        margin-bottom: 5px; 
    }

    input, select {
        width: 100%; 
        padding: 10px; 
        margin-bottom: 15px; 
        border: 1px solid #ddd; 
        border-radius: 5px; 
    }

    button, .btn-cancelar {
        font-family: 'Barlow Condensed', sans-serif; 
        font-size: 18px; 
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; 
        transition: background-color 0.3s ease; 
        margin: 5px; 
    }

    .btn-guardar {
        background-color: #28a745; 
        color: white; 
    }

    .btn-guardar:hover {
        background-color: #218838; 
    }

    .btn-cancelar {
        background-color: #dc3545; 
        color: white; 
    }

    .btn-cancelar:hover {
        background-color: #c82333; 
    }

    .button-container {
        text-align: center; 
        margin-top: 20px;
    }